# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.next

# dependencies

/node_modules
/.pnp
.pnp.js

# testing

coverage
coverage.json
typechain

# Hardhat files

cache
artifacts
/packages/backend/node_modules
/packages/backend/deployments/\*

# Foundry files

/packages/backend/cache
/packages/backend/out

# next.js

/packages/frontend/node_modules
packages/frontend/.next/
/out/

# vite

/packages/frontend/node_modules
/packages/frontend/dist

# production

/build

# misc

.DS_Store
\*.pem

# debug

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# local env files

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel

.vercel
